@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

$minwidth: 320px;
$mw: 1170;
$md1: $mw+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$main-fontfamily: Montserrat;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-fontfamily, sans-serif;

    &.lock {
        overflow: hidden;
    }
}

.container {
    max-width: $mw + px;
    margin: 0 auto;

    @media (max-width: $md1+px) {
        max-width: 940px;
    }

    @media (max-width: $md2+px) {
        max-width: none;
        padding: 0 10px;
    }
}

.title {
    color: #3c3f3d;
    font-family: "PT Serif";
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 48px;
    text-transform: uppercase;
    z-index: 1;
}

.image-with-trapezoid {
    overflow: hidden;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 420px;
        height: 160%;
        left: -100px;
        top: -120px;
        transform: rotate(20deg);
        background-image: linear-gradient(198deg, #007397 0%, rgba(0, 115, 151, 0) 100%);
    }
}

.description {
    color: #646667;
    font-family: $main-fontfamily;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
}

.button {
    color: #ffffff;
    font-family: $main-fontfamily;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    background-color: #007397;
    cursor: pointer;
    padding: 20px 32px;
    border: none;
    transition: 0.5s all;

    &:hover {
        background-color: #00546d;
    }
}

.header {
    padding: 40px 0;

    @media (max-width:$md2+px) {
        padding: 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        position: relative;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @media (max-width:$md2+px) {
            padding: 20px 0;
            background-color: white;
        }
    }

    &__nav {
        display: flex;

        @media (max-width:$md2+px) {
            position: fixed;
            top: -150%;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: #fff;
            overflow: auto;
            transition: 0.5s all;
            padding: 70px 0 20px 20px;
            flex-direction: column;

            &.active {
                top: 0;
            }
        }
    }

    &__nav-item {
        margin: 0px 28px 0px 0px;
        font-weight: 700;
        font-size: 12px;
        text-decoration: none;
        color: #646667;
        line-height: 28px;
        cursor: pointer;

        &_with-globe {
            display: flex;

            .header__link-globe {
                margin: 0px 0px 0px 12px;
            }
        }

        &:nth-child(6) {
            margin: 0;
        }

        @media (max-width:$md2+px) {
            font-size: 16px;
            padding: 6px 0;
        }
    }

    &__menu {
        display: none;
        height: 30px;
        width: 30px;

        @media (max-width:$md2+px) {
            display: block;
            position: relative;
        }

        span {
            position: absolute;
            display: block;
            height: 2px;
            background-color: #646667;
            width: 100%;
            transition: 0.5s all;
        }

        & span:nth-child(1) {
            top: 25%;
        }

        & span:nth-child(2) {
            top: 50%;
        }

        & span:nth-child(3) {
            top: 75%;
        }

        &.active span:nth-child(1) {
            top: 15px;
            transform: rotate(45deg);
        }

        &.active span:nth-child(2) {
            display: none;
        }

        &.active span:nth-child(3) {
            top: 15px;
            transform: rotate(-45deg);
        }
    }
}

.main-block {
    margin: 0px 0px 100px 0px;
    &__main-image-block {
        position: relative;
        height: 411px;
    }

    &__image {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        position: absolute;
        bottom: 94px;
        right: 0;
        max-width: 770px;
        text-shadow: 0 3px 1px rgba(0, 0, 0, 0.6);
        color: #ffffff;

        @media (max-width:$md3+px) {
            padding: 0 10px;
            font-size: 26px;
            line-height: 36px;
            bottom: 40px;
        }
    }

    &__description {
        text-align: center;
        max-width: 970px;
        margin: 0 auto;
        padding: 48px 0 46px 0;

        @media (max-width:$md3+px) {
            font-size: 18px;
            line-height: 26px;
        }
    }

    &__meeting-button {
        display: block;
        margin: 0 auto;
    }
}